*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
}

:root{
    --slider-margin: 5rem;
}

.container{
    display: flex;
    justify-content: center;
    overflow: hidden;
}


.slider{
    --items-per-screen: 4;
    --slider-index: 0;
    display: flex;
    width: calc(100% - var(--slider-margin));
    transform: translateX(calc(-100% * var(--slider-index)));
    margin: 0 0.25rem;
    transition: transform 250ms ease-in-out;
    height: 200px;
}

img{
    flex: 0 0 calc(100% / var(--items-per-screen));
    min-width: calc(100% / var(--items-per-screen));
    aspect-ratio: 16/9;
    padding: 0.25rem;
    border-radius: 1rem;
}

.handler{
    cursor: pointer;
    width: var(--slider-margin);
    background: rgba(0, 0, 0, 0.10);
    z-index: 100;
    margin: 0.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms ease-in-out;
}

.handler:hover .text{
    transform: scale(1.4);
}

.handler:hover{
    background: rgba(255, 255, 255, 0.5);
}

.left-handler{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.right-handler{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.text{
    font-size: 3rem;
    color: transparent;
    transition: transform 250ms ease-in-out;
}

.container:hover .text{
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem var(--slider-margin);
}

.title{
    font-size: 1.8rem;
    color: white;
}

.bar{
    display: flex;
    gap: 5px;
}

.dash{
    width: 100px;
    height: 20px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.20);
}

.active{
    background-color: rgba(255, 255, 255, 1);
}

@media (max-width: 1000px) {
    .slider{
        --items-per-screen: 3;
    }
}