* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 228, 228, 0.678);
    min-height: 100vh;
}

.drops {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.drop {
    position: absolute;
    border-radius: 56% 44% 70% 30% / 51% 52% 48% 49% ;
    background-color: transparent;
    width: 150px;
    height: 150px;
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.05),
                15px 25px 10px rgba(0,0,0,0.1),
                15px 20px 20px rgba(0,0,0,0.05),
                inset -10px -10px 15px rgba(255,255,255,0.9);
}
.drop::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 35px;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 56% 44% 70% 30% / 51% 52% 48% 49% ;
}

.drop::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 65px;
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 56% 44% 70% 30% / 51% 52% 48% 49% ;
}

.drop:nth-child(1) {
    transform: scale(0.5) translate(-200px, 180px);
    border-radius: 56% 44% 36% 64% / 29% 75% 25% 71% ;
}

.drop:nth-child(2) {
    transform: scale(0.5) translate(280px, 10px);
    border-radius: 56% 44% 36% 64% / 73% 35% 65% 27% ;
}

.drop:nth-child(3) {
    transform: scale(0.35) translate(180px, -310px);
    border-radius: 41% 59% 36% 64% / 73% 35% 65% 27% ;
}